global:
  scrape_interval: 5s # Leer datos cada 5 segundos

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080'] # Se conecta al contenedor de cAdvisor